@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    font-family: 'Inter';
}
body{
    height: 100vh;
    width: 100%;
}
.superior{
    display: flex;
    flex-direction: column;
}
.superior-gradiente{
    height: 10vh;
    background: #0A3D62;
    background: linear-gradient(79deg, rgba(10, 61, 98, 1) 0%, rgba(16, 115, 193, 1) 63%, rgba(51, 166, 204, 1) 84%);   
}
.superior-menu{
    display: flex;
    flex-direction: row;
}
.superior-menu-titulo{
    width: 50%;
    font-size: 30pt;
    margin-left: 2%;
    align-self: center;
}
.superior-menu-links{
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.links-menu{
    text-decoration: none;
    color: #33A6CC;
    font-size: 20pt;
    align-self: center;
}
.guia{
    background-color: #33A6CC;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.guia-titulo{
    color: white;
    font-size: 30pt;
}
.guia-paragrafo{
    color: white;
    font-size: 15pt;
    font-weight: 400;
}
.guia-botao{
    text-decoration: none;
    color: white;
    width: 10%;
    background-color: rgba(16, 115, 193, 1);
    padding: 1.5%;
    border-radius: 15px;
    font-size: 20pt;
    font-weight: 600;
    align-self: center;
}
.sobre{
    display: flex;
    flex-direction: column;
    gap: 6%;
    height: 20vh;
    padding: 2% ;
}
.sobre-titulo{
    font-size: 25pt;
    font-weight: 500;
}
.sobre-paragrafo{
    font-size: 15pt;
    font-weight: 300;
}
.servicos{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.servicos-titulo{
    font-size: 25pt;
    font-weight: 500;
}
.servicos-produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.servicos-produtos-item{
    display: flex;
    flex-direction: column;
    gap: 3%;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 30vh;
    padding: 1.5%;
}
.servicos-produtos-item-img{
    width: 70px;
    height: 70px;
    background-color: rgb(200, 199, 199);
    border-radius: 10px;
}
.servicos-produtos-item-texto{
    font-weight: 300;
    text-align: justify;
}